/*--- Reusable Classes ---*/
.site-header{
    padding-top: 18px;
    padding-bottom: 21px;
}

/* header */

.nav-li:last-child{
    display: none;
}
/* .navi-ul{
    justify-content: center;

} */
.navi{
    overflow-x: scroll;
}

/* pickup */

.pickup {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 140px;
    justify-content: space-between;
    margin-bottom: 100px;

}

.pickup-article {
    width: 100%;
}

/*-- main ---*/
.container {
    margin-top: 100px;
}
.main article {
    margin-bottom: 90px;
}
.main article:last-child{
    margin-bottom: 70px;
}

/*-- aside ---*/
.aside{
    margin-bottom: 120px;
}
/*-- footer ---*/
/* .footer-content{
    flex-direction: column;
    gap: 61px;
} */
/* -- section(about) --*/
.about{
    margin-top: 50px;
}
/* -- section(menu) --*/
.menu{
    margin-top: 50px;
}
/*-- section(twitter) ---*/
.x-link{
    margin-top: 30px;
    margin-bottom: 90px;
}

